* {
	margin:0;
	padding:0;
}

body {
	overflow: hidden;
}

html {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
html h1, html h2, html h3, html h4, html h5, html h6 {
  margin: 0;
}
html h1 {
  color: #333;
  font-weight: 250;
}
html h3 {
  color: #aaa;
  font-weight: 250;
}
html h4 {
  color: #999;
  font-weight: 250;
}
html h4:after {
  content: "%";
  padding-left: 1px;
}
html input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 250px;
  width: 200px;
  max-width: 100%;
  margin: 0px 0;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  html input[type="range"] {
    overflow: hidden;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  html input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #444;
    margin-top: -1px;
    transition: box-shadow 0.2s ease-in-out;
  }
  html input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -170px 0 0 160px #1597ff, inset 0 0 0 20px #1597ff;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  html input[type="range"]:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -170px 0 0 160px #1597ff, inset 0 0 0 1.5px #1597ff;
  }
}
html input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
html input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
html input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
html input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
